backend:
  name: git-gateway
  branch: dev

media_folder: static/img
public_folder: /img

collections:
  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/home/index.md"
        label: "Home"
        name: "home"
        fields:
          - {label: Hero, name: image, widget: image}
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "page"}
          - {label: Title, name: title, widget: string}
          - {label: "Heading First Line", name: heading1, widget: string}
          - {label: "Heading Second Line", name: heading2, widget: string}
          - {label: "Info 1", name: info1, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}]}
          - {label: "Info 2", name: info2, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}]}
          - {label: "Info 3", name: info3, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}]}
          - {label: "Info 4", name: info4, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}]}
          - {label: "Featured", name: featured, widget: object, fields: [{label: "Heading First Line", name: heading1, widget: string}, {label: "Heading Second Line", name: heading2, widget: string}]}
          - {label: "Featured Course 1", name: course1, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}]}
          - {label: "Featured Course 2", name: course2, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}]}
          - {label: "Featured Course 3", name: course3, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}]}
          - {label: "Featured Course 4", name: course4, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}]}
          - {label: "Featured View All Text", name: featuredViewAll, widget: string}
          - {label: "Featured Banner", name: featuredBanner, widget: object, fields: [{label: Desktop Image, name: image, widget: image}, {label: Mobile Image, name: mobileImage, widget: image}, {label: "Heading Line 1", name: heading1, widget: string}, {label: "Heading Line 2", name: heading2, widget: string}]}
          - {label: "Featured Footer", name: featuredFooter, widget: object, fields: [{label: "Heading Line 1", name: heading1, widget: string}, {label: "Heading Line 2", name: heading2, widget: string}]}
          - {label: "Featured Logos", name: featuredLogo, widget: list, fields:[{label: Image, name: image, widget: image}, {label: "Alt Text", name: alt, widget: string}]} 
          - {label: "Recent Posts", name: recentPosts, widget: object, fields: [{label: "Heading 1", name: heading1, widget: string}, {label: "Heading 2", name: heading2, widget: string}]}
          - {label: "Recent Calendar", name: recentCalendar, widget: object, fields: [{label: "Heading 1", name: heading1, widget: string}, {label: "Heading 2", name: heading2, widget: string}]}
          - {label: "Menu Logo", name: menuLogo, widget: object, fields: [{label: Image, name: image, widget: image},{label: "Alt", name: alt, widget: string}]}
          - {label: "Footer Logo", name: footerLogo, widget: object, fields: [{label: Image, name: image, widget: image},{label: "Alt", name: alt, widget: string}]}
          - {label: "Menu Column 1", name: footerColumn1, widget: list, fields:[{label: "Text", name: text, widget: string}, {label: "href", name: href, widget: string}, {label: "Children", name: children, widget: list, fields:[{label: "Text", name: text, widget: string}, {label: "href", name: href, widget: string}]}]} 
          - {label: "Menu Column 2", name: footerColumn2, widget: list, fields:[{label: "Text", name: text, widget: string}, {label: "href", name: href, widget: string}, {label: "Children", name: children, widget: list, fields:[{label: "Text", name: text, widget: string}, {label: "href", name: href, widget: string}]}]} 
          - {label: "Menu Social Heading", name: footerSocialHeading, widget: string}
          - {label: "Menu Social", name: footerSocial, widget: list, fields:[{label: "Text", name: text, widget: string}, {label: "href", name: href, widget: string}, {label: "Children", name: children, widget: list, fields:[{label: "Text", name: text, widget: string}, {label: "href", name: href, widget: string}]}]} 
      - file: "src/pages/courses.md"
        label: "Course Details"
        name: "courses"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "course"}
          - {label: "Add to Golf Cart", name: addGolfCart, widget: list, fields:[{label: "Heading", name: text, widget: string}, {label: "Instructions", name: text, widget: string}, {label: "Button", name: text, widget: string}]}
          - {label: "Share", name: share, widget: string}          
          - {label: "View Gallery", name: viewGallery, widget: string}
          - {label: "Gallery", name: gallery, widget: string}
      - file: "src/pages/packageListings.md"
        label: "Packages Listing"
        name: "package"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "packageListings"}
          - {label: "Hero", name: "image", widget: "image"}
          - {label: "Title", name: title, widget: "string"}
          - {label: "Description", name: "description", widget: "string"}
          - {label: "Location Label", name: "location", widget: "string"}
          - {label: "Hotel Type Label", name: "hotelType", widget: "string"}
          - {label: "Duration Label", name: "duration", widget: "string"}
          - {label: "Packages Label", name: "package", widget: "string"}
      - file: "src/pages/bespokeGolfHolidays.md"
        label: "Bespoke Golf Holidays"
        name: "bespoke"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "bespoke-golf-holidays"}
          - {label: "Title", name: title, widget: "string"}
          # - {label: "Share", name: share, widget: string}          
          # - {label: "View Gallery", name: viewGallery, widget: string}
          # - {label: "Gallery", name: gallery, widget: string}
  - name: "post"
    label: "Posts"
    folder: "src/pages/post"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Image", name: "image", widget: "image"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "event"
    label: "Events"
    folder: "src/pages/events"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "event"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "From", name: "from", widget: "datetime"}
      - {label: "To", name: "to", widget: "datetime"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "course"
    label: "Courses"
    folder: "src/pages/courses/details"
    create: true
    fields:
      - {label: Hero, name: image, widget: image}
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "course"}
      - {label: "Name", name: "title", widget: "string"}
      - {label: "City", name: "city", widget: "string"}
      - {label: "Region", name: "region", widget: "string"}
      - {label: "Country", name: "country", widget: "string"}
      - {label: "Stats", name: "stats", widget: "list", fields: [{label: "Icon", name: icon, widget: image}, {label: "Label", name: label, widget: string}, {label: "Value", name: value, widget: string}]}
      - {label: "Dialogs", name: "dialogs", widget: "list", fields: [{label: "Icon", name: icon, widget: image}, {label: "Heading", name: "heading", widget: "string"}, {label: "Message", name: "message", widget: "markdown"}]}
      - {label: "Tags", name: tags, widget: list, fields: [{label: "Icon", name: icon, widget: image}, {label: "Label", name: label, widget: string}]}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Gallery", name: "gallery", widget: "list", fields: [{label: "Image", name: image, widget: image}, {label: "Category", name: category, widget: string}]}
      - {label: "Google Map Location", name: "map", widget: "string"}
      - {label: "Featured", name: "isFeatured", widget: "boolean"}
      - {label: "Featured Details", name: "featuredDetails", widget: "object", fields: [{label: "Image", name: image, widget: image}, {label: "Name", name: name, widget: string}, {label: "Description", name: description, widget: string}]}
  - name: "package"
    label: "Packages"
    folder: "src/pages/packages"
    create: true
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "packageListings"}
      - {label: "Code", name: "code", widget: "string"}
      - {label: "Image", name: "image", widget: "image"}
      - {label: Title, name: title, widget: "string"}
      - {label: "Location", name: "location", widget: "string"}
      - {label: "Hotel Type", name: "hotelType", widget: "string"}
      - {label: "Duration", name: "duration", widget: "string"}
      - {label: "Rounds", name: "rounds", widget: "string"}
      - {label: "Price", name: "price", widget: "string"}
